*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../img/backgroundimages.png);
    padding:30px;
    background-size:cover;
}
/*navbar*/
.navbar {
   
   height:auto;
    border-radius: 0;
      margin-bottom: 30px;
    font-size:16px;
    font-weight: 600;
    font-weight: bold;
    margin:0; ;
    padding: 0;
}
.navbar .container{
     background-color:#12556F;
}
.paddingLeft0 {
    padding-left: 0;    
}

.navbar .nav .nav-item .nav-link {
    color:#fff;
    background-color:rgba(79,76,72,0.0);
    margin-right: 20px;
    margin-top:20px;
    font-size: 17px;
}
 
.nav {
    float: right
}
.navbar-toggle {
    color: black;
}


.navbar .nav .nav-item .navbar-link:hover {
        background-color:rgba(39,104,162,0.0);
        color: #1fefef;
        
    }
.navbar .nav .nav-item .navbar-link:visited {
        background-color:rgba(39,104,162,0.0);
        color: #1fefef;
       
    }
.navbar .nav .nav-item .navbar-link:active {
      background-color:rgba(39,104,162,0.0);
        color: #1fefef;
       
    }
.navbar .nav .nav-item .navbar-link:focus{
       background-color:rgba(39,104,162,0.0);
        color: #1fefef;
        
    }
/*end navbar*/
/*About Us*/

#about .container{
    background-color: #f4f4f4;
    padding-bottom: 20px;
    padding-top: 10px;
}
#about .container .row .col-md-12 h1{
    text-align: center;
    font-weight: bold;
    font-size:37px;
}

#about .container .row .col-md-12 span{
    color: #12556F;
}
#about .container .row .col-md-12 hr{
    border-color: #385d78;
   margin: 12px 300px;
    align-items: center;
    border-width: 2px;
    border-style: dashed;
}
#about .container .row .col-md-12 p{
    text-align: justify;
}
.button {
  background-color: #569067; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
    border-radius: 10px;
  cursor: pointer;
    margin-top: 10px;
    float: right;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


/*End About Us*/
/*Product*/
#productes .container{
    background-color: #f9f9f9;
    padding-bottom: 20px;
    padding-top: 10px;
     text-align: center;
}
#productes .container .row .col-md-12 h1{
    text-align: center;
    font-weight: bold;
    font-size:37px;
}

#productes .container .row .col-md-12 span{
    color: #12556F;
}
.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}


#productes img {
  width: 100%;
  max-width: 100%;
  height: auto;
   
}
#productes h5{
    font-size:17px;
    padding:10px 0; 
    text-align: center;
    font-weight:bold;
    
}
#productes .col-md-3 {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
   
}
.owl-carousel .owl-item {
    float: left;
}
.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}
.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
}
#owl-speakers .locator{
    text-align: center;
    background-color: red;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #242424;
    border: 2px solid #242424;
}
#productes .speakers-wrapper {
    background: #ffffff;
    padding-bottom: 22px;
}

	
/*End Product*/
/*Footer*/
#footer .container{
    background-image: url(../img/footerbackground.png);
    height: auto;
    background-size: cover;
}
#footer ul{
    margin-top: 30px;
}
#footer p{
    color: #fff;
    text-align: center;
    font-size: 18px;
}
#footer ul li{
    list-style: none;
    display: inline;
    padding: 0 20px;
}
#footer .footericonli{
    padding: 10px;
    float: right;
}
#footer ul li a{
    color:#fff;
    font-size: 17px;
    text-decoration: none;
}
#footer  .col-md-5{
    margin-top: 20px;
    float: right;
}
#footer .container .footericonli{
    display: inline;     
}
#footer .container-fluid  ul li span{
    color: #fff; 
}
#footer .container  .footericona{
     padding:8px 15px;
    border: 1px solid #fff; 
    border-bottom: 
}
#footer .container  .footericona:hover{
    background-color: #0c9fe3;    
    color: white;
    border: 1px solid black;  
}
#footerbottom .container{
   background-color:#282f4b; 
    color: white;
    text-align: center;
}
#footerbottom .container .row p{
    margin: 0;
    padding: 6px 0;
    text-align: center;
    
}
/*End Footer*/
/*Inquiry*/
#inquiry .container{
    background-color: #f4f4f4;
    padding-bottom: 20px;
    padding-top: 10px;
}
#inquiry .container .row .col-md-12 h1{
    text-align: center;
    font-weight: bold;
    font-size:37px;
}

#inquiry .container .row .col-md-12 span{
    color: #12556F;
}
/*End Inquiry*/
/*Our Product*/
#product .container{
    background-color: #f4f4f4;
    padding-bottom: 20px;
    padding-top: 10px;
}
#product .container .row .col-md-12 h1{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size:37px;
}

#product .container .row .col-md-12 span{
    color: #12556F;
}
.gallery-title
{
    font-size: 36px;
    color:black;
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;   
}


#product .bounce{
    -moz-animation:bounce 2s infinite;
    -webkit-animation:bounce 2s infinite;
    animation: bounce 2s infinite;
}
@keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform:translateY(0);
    }
    40%{
         transform:translateY(-30px);
    }
    60%{
         transform:translateY(-15px);
    }
}
.bdn{
    width:250px;
    height:35px;
    line-height:35px;    
}
.filter-button
{
    font-size: 16px;
    border: 1px solid #999;
    border-radius: 5px;
    text-align: center;
    color: black;
    margin-bottom:10px;

}
.filter-button:hover
{
    font-size: 16px;
    border: 1px solid #999;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #355f91;

}
.btn-default:active .filter-button:active
{
    background-color: #355f91;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
#product h3{
    color: #569067;
    font-weight: bold;
    margin-top:5px;
}
#product .row .col-md-4 img{
    border: 1px solid #999;
    border-radius: 10px;
}
li{
    list-style: none;
}
/*End Product*/
/* Contact*/
#Contact .container{
    background-color: #f4f4f4;
    padding-bottom: 20px;
    padding-top: 10px;
}
#Contact .container .row .col-md-12 h1{
    text-align: center;
    font-weight: bold;
    font-size:37px;
}

#Contact .container .row .col-md-12 span{
    color: #12556F;
}
#Contact .container h2{
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 10px;
}
#Contact .container  span{
    color: #569067;
}
#Contact .container h4{
  padding: 10px;
}
/*End Contact*/
